
body{
	background-image: url("../imgs/bg_bright_blue.jpg");
	background-repeat: repeat-y;
}

.text-defaut-padding{
	padding-top: 1em;
	padding-bottom: 1em;
}


.button-defaut-margin{
	margin-top: 1em;
	margin-bottom: 1em;
}

.postIt-container{
	margin-top: 10%;
	display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.postIt{
	position: relative;
    display: flex;
    margin: 1em;
    width: 330px;
    height: 330px;    
    background: floralwhite;
    border-radius: 10px;
}

.postItInput{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.side-color{
	background-color: gray;
	width: 5%;
}

.content-postIt{
	padding-left: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.postIt-title{
	font-size: 2em;
}

.postIt-text{
	display: initial;
    width: 90%;
}

.close-custon{
	position: absolute !important;
    top: 1em !important;
    right: 1em !important;
}
.modal-footer {   border-top: 0px; }

.login-input{
	display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.navbar-inverse {
    margin: 0 !important;
}

.edit-postit{
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 21em;
    padding-top: 0.5em;
}





